<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Web.css') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}">
    <title>About Flames Creation</title>
  </head>
<body>
    {% include 'partials/header.html' %}
    <img src="/static/image.jpg" class="zoom">
    <header class="header">

    </header>

    <section class="messages-2">
      <div class="container">
        <h1 class="h1">Messages</h1>
         {% with msgs = get_flashed_messages(with_categories=true) %}
           {% for cat,msg in msgs %}
             <div class="flash {{ cat }}">{{ msg }}</div>
           {% endfor %}
         {% endwith %}

        <table>
          <thead>
            <tr>
              <th>Type</th>
              <th>First</th>
              <th>Last</th>
              <th>Email</th>
              <th>Message</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
           {% for msg in messages %}
              <tr>
                <td>{{ msg.id }}</td>
                <td>{{ msg.first_name }}</td>
                <td>{{ msg.last_name }}</td>
                <td>{{ msg.email }}</td>
                <td>{{ msg.body }}</td>
                <td>
                  <a href="{{ url_for('edit_message', id=msg.id) }}" onclick="return confirm('Edit?')" >Edit</a>
                  <form action="{{ url_for('delete_message', id=msg.id) }}"
                  method="post" style="display:inline">
                  <button type="submit" onclick="return confirm('Delete?')">
                  Delete
                  </button>
                  </form>
                </td>
             </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{{ url_for('contact') }}" class="back">+ New Message</a>
      </div>
    </section>


    <footer class="footer">
      {% include 'partials/footer.html' %}

  </footer>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>